<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [mode]="'side'"
      [opened]="true">
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span>Accueil</span>
      </a>
      <a mat-list-item routerLink="/competitions" routerLinkActive="active">
        <mat-icon>emoji_events</mat-icon>
        <span>Compétitions</span>
      </a>
      <a mat-list-item routerLink="/users" routerLinkActive="active">
        <mat-icon>manage_accounts</mat-icon>
        <span>Utilisateurs</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="app-title">KFlow</span>
    </mat-toolbar>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container> 